.advantages__container {
  max-width: 1600px;
  margin: 0 auto;
}

.advantages {
  max-width: 884px;
  margin: 0 auto;
  text-align: center;
}

.advantages__title {
  color: var(--bcolor);
  text-align: center;
  font-size: 35px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 25px;
}

.advantages__about-i {
  position: relative;
}

.advantages__text-i {
  content: "-";
  color: #383A4C;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 35px;
}

.advantages__about-i::before {
  content: '';
  position: absolute;
  top: 12px;
  height: 3px;
  width: 43px;
  background-color: #000;
}
.advantages__about-i::after {
  content: '';
  position: absolute;
  top: 12px;
  height: 3px;
  width: 43px;
  background-color: #000;
}

.advantages__about-i::before {
  left: 340px;
}

.advantages__about-i::after {
  right: 340px;
}

.advantages__text {
  text-align: center;
  max-width: 724px;
  color: var(--bcolor);
  font-size: 18px;
  line-height: 140%;
  margin: 0 auto 57px;
}

.advantages__list { 
  display: flex;
}

.advantages__items {
  display: flex;
  justify-content: center;
  max-width: 900px;
  gap: 50px;
  align-items: center;
  margin-bottom: 70px;
}

.advantages__circle {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background-color: #23C7EC;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  font-weight: bold;
}

.advantages__number {
  font-size: 57px;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
  flex-basis: 196px;
  flex-shrink: 0;
}

.advantages__text-adv {
  max-width: 200px;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
}

@media (max-width: 1024px) {
  .advantages__title {
    font-size: 32px;
  }

  .advantages__text-i  {
    font-size: 20px;
  }

  .advantages__text {
    font-size: 16px;
    max-width: 666px;
  }
}

@media (max-width: 320px) {
  .advantages {
    padding-left: 15px;
    padding-right: 15px;
  }
  .advantages__items {
    display: flex;
    flex-direction: column;
  }

  .advantages__about-i::before {
    left: 200px;
  }
  
  .advantages__about-i::after {
    right: 200px;
  }
  
  .advantages__title {
    font-size: 20px;
  }

  .advantages__text-i {
    font-size: inherit;
  }

  .advantages__text {
    font-size: 12px;
  }

  .advantages__item {
    gap: 26px;
  }

  .advantages__item {
    gap: 40px;
  }
}