.contact-screen-container {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.contact-screen-title {
  font-size: 35px;
  color: var(--wcolor);
  margin-bottom: 22px;
  padding-top: 74px;
  padding-right: 24px;
}

.contact-screen-text {
  color: rgba(255, 255, 255, 0.80);
  margin-bottom: 50px;
  font-size: 22px;
}

.contact-screen {
  position: relative;
  height: 621px;
}

.contact-screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/original_598199574f1350638e11b2d2_5982c05803796.jpg");
  filter: brightness(0.3);
  z-index: -1;
  pointer-events: none;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-screen-text-p {
  color: var(--wcolor);
  font-size: 20px;
}

.contact-screen-span-s {
  color: #4A76A8;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .contact-screen-title {
    font-size: 32px;
  }

  .contact-screen-text {
    font-size: 20px;
  }

  .form {
    width: 379px;
  }

  .contact-screen::before {
    background-image: url(../img/original_598199574f1350638e11b2d2_5982c058037961.jpg);
    height: 558px;
    background-size: cover;
  }

  .button-main-f {
    margin-bottom: 30px;
  }

  .contact-screen-container {
    height: 558px;
  }
}

@media (max-width: 320px) {
  .contact-screen-container {
    height: 460px;
  }

  .contact-screen {
    height: auto;
  }

  .contact-screen-title {
    font-size: 20px;
    padding-top: 30px;
    margin-bottom: 10px;
  }

  .contact-screen-text {
    font-size: 12px;
  }

  .button-main-f {
    padding: 10px 26px;
    font-size: 16px;
  }

  .contact-screen-text-p {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 11px;
    line-height: normal;
  }
}

@media (max-width: 1440px) {
  .contact-screen::before {
    background-size: cover;
  }
}